.logo{
	background: url(/site_media/img/rslogo.png) no-repeat;
	width:960px;
	margin: 0px auto;
	height:45px;
}
.header {
	height: 36px;
	width:100%;
	background-color: #7210F5;
	background: url(/site_media/img/mainnav-bg.png)
}

.header a {
	color: white;
	padding: 0 20px;
	line-height: 32px;
}

.footer {
	height: 50px;
	padding-top: 20px;
	color: #999;
}

.page {
	width: 960px;
	margin: 0px auto;
}

body {
	background: #EEE;
}